.wrapper
  = render 'shared/header'
  .single-container.item-detail__container
    %main.single-main
      = form_for "", method: :get, html: {class: 'form'} do |f|
        .item-detail__title
          %h2
            =@item.name
        .item-detail__main-box
          .item-detail__main-box--img
            -@item.images.each_with_index do | image, i |
              -if i == 0
                = image_tag "#{ image.image }", alt: 'item__detail--img', class: 'item__detail--img'
                .item-detail__main-box--img-mini
                  = image_tag "#{ image.image }", alt: 'item__detail--img-mini', class:"item__detail--img-mini"
              - else
                .item-detail__main-box--img-mini
                  = image_tag "#{ image.image }", alt: 'item__detail--img-mini', class:"item__detail--img-mini"
          %table.item-detail__main-box--info-box
            %tr
              %th.category
                出品名
              %th.content
                = link_to "", class: 'single-text link-text' do
                  =@user.nickname
                .evaluation
                  = icon "fas", "laugh",  class: "rvaluation__icon--good"
                  100
                  = icon "fas", "meh", class: "rvaluation__icon--nomal"
                  100
                  = icon "fas", "frown", class: "rvaluation__icon--bad"
                  100
            %tr
              %th.category
                カテゴリー
              %th.content
                -@categories.each_with_index do |category, i|
                  = link_to  "", class: 'single-text link-text' do
                    =((i > 0) ? ">" : "") + category.name
            %tr
              %th.category
                ブランド
              %th.content
                = link_to "", class: 'single-text link-text' do
                  =@item.brand.name
            %tr
              %th.category
                商品の状態
              %th.content
                =@item.condition
            %tr
              %th.category
                配送料の負担
              %th.content
                =@item.shipping_charge
            %tr
              %th.category
                配送の方法
              %th.content
                =@item.delivery_method
            %tr
              %th.category
                配送元地域
              %th.content
                = link_to "", class: 'single-text link-text' do
                  =@item.delivery_source_area
            %tr
              %th.category
                発送日の目安
              %th.content
                =@item.delivery_days
        .item-detail__price-box
          %span.item-detail__price-box--price
            = "¥" + "#{@item.price}"
          %span.item-detail__price-box--tax
            (税込)
          %span.item-detail__price-box--send-fee
            送料込み
        = f.submit "購入画面に進む", {class: "item-detail__btn--buy"}
        .item-detail__detail-comment
          =@item.description
        %button#like-btn.item-detail__btn.item-detail__btn--like{data: {flg: "off"}}
          = icon "far", "heart", class: "btn__icon--like"
          いいね!
          %span
            0
        .item-detail__btn.item-detail__btn--bad-report
          = icon "far", "flag", class: ""
          不適切な商品の報告
        =link_to "", class: "link-text right-text inline-text" do
          = icon "fas", "unlock-alt", class: "safe-link__btn--icon"
          あんしん・あんぜんへの取り組み
    %main.single-main.single-main__comment
      = form_for "", method: :get, html: {class: 'form'} do |f|
        .item-detail__comment--attention
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area "", {class: 'item-detail__comment--textarea'}
        = f.submit "コメントする", {class: "item-detail__comment--btn"}
    .item-detail__behind-next-items
      = link_to "<前の商品", "", class: 'single-text link-text left-text'
      = link_to "後の商品>", "", class: 'single-text link-text right-text'
    %main.single-main.item-detail__icons
      = link_to "", class: 'link-btn' do
        = icon "fab", "facebook-square", class: "item-detail__icons--facebook"
      = link_to "", class: 'link-btn' do
        = icon "fab", "twitter-square", class: "item-detail__icons--twitter"
      = link_to "", class: 'link-btn' do
        = icon "fab", "line", class: "item-detail__icons--line"
      = link_to "", class: 'link-btn' do
        = icon "fab", "pinterest-square", class: "item-detail__icons--pinterest"
    .main
      .contents.item-detail__another-items
        .contents-head.item-detail__another-items--head
          = link_to "", class: "another-items__head" do
            =@user.nickname + "さんのその他の商品"
        .contents-body.item-detail__another-items--contents-body
          -@items.each_with_index do |item, i|
            -if item.user_id == @item.user_id && i < 6
              -if item.id != @item.id
                = link_to buy_path(item.id), class: "item-box" do
                  .item-box__img
                    -item.images.each do | image |
                      = image_tag "#{ image.image }", alt: '', class: 'item_img__index'
                      -break
                  .item-box__body
                    .item-box__body--name
                      = "#{item.name}"
                    .item-box__body--price
                      = "¥" + "#{item.price}"
      .contents.item-detail__another-items
        .contents-head.item-detail__another-items--head
          = link_to "", class: "another-items__head" do
            =@categories[2].name + "(" + @categories[0].name + ")のその他の商品"
        .contents-body.item-detail__another-items--contents-body
          -@items.each_with_index do |item, i|
            -if item.category_id == @item.category_id && i < 6
              -if item.id != @item.id
                = link_to buy_path(item.id), class: "item-box" do
                  .item-box__img
                    -item.images.each do | image |
                      = image_tag "#{ image.image }", alt: '', class: 'item_img__index'
                      -break
                  .item-box__body
                    .item-box__body--name
                      = "#{item.name}"
                    .item-box__body--price
                      = "¥" + "#{item.price}"
    %p.pankuzu
      メルカリ >
      %span
        =@item.name
    = render 'shared/footer'