.single-container
  = render 'shared/header_single'
  %main.single-main.single-main__login
    .single-title.single-title__login
      %p アカウントをお持ちでない方はこちら
      = link_to step1_signup_index_path, class: "btn__mail" do
        新規会員登録
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form '}) do |f|
      .btns__box
        = link_to "", class: "btn__basic btn__facebook" do
          = icon 'fab', 'facebook-square', class: "menu-left__categories--icon"
          Facebookでログイン
        = link_to "", class: "btn__basic btn__google" do
          = icon 'fab', 'google', class: "menu-left__categories--icon"
          Googleでログイン
      .field
        .label-wrapper
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
      .field
        .label-wrapper
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
      .actions
        = f.submit "ログイン"
      .form_under__link-text
        = link_to "#", class: "single-text link-text" do
          パスワードをお忘れの方
  = render 'shared/footer_single'