.default-container 
  = render 'shared/header'
  = render 'shared/bread-crumbs-profile'
  .main__contents-clearfix        
    .main__contents-logout
      %section.container
        %form{action: "", method: ""}
          .setting__profile__text-logout
            = link_to  destroy_user_session_path, method: :delete, class: "below-btn-logout" do
              ログアウト
    = render 'shared/sidecontent'
  = render 'shared/footer'
  = render 'shared/sell-btn'