.default-container 
  = render 'shared/header'
  = render 'shared/bread-crumbs-profile'
  .main__contents-clearfix        
    .main__contents
    
    = render 'shared/sidecontent'
  = render 'shared/footer'
  = render 'shared/sell-btn'