.header
  .header__body
    .header-top
      = link_to root_path, class: "header-top__logo" do
        = image_tag 'logo.svg', alt: 'mercari', height: '36', width: '134'
      = form_tag "", class: "header-top__form"  do
        = text_field_tag :search,"", name: "keyword",placeholder: "何かお探しですか？",class: "form-search"
        = submit_tag '', name: :nil, class:"form-search__btn"
        = icon 'fas', 'search', class: "form-search__icon"
    .header-menu
      .menu-left
        = link_to "", class: "menu-left__categories" do
          = icon 'fas', 'list', class: "menu-left__categories--icon"
          %spanカテゴリーから探す
        = link_to "", class: "menu-left__brands" do
          = icon 'fas', 'tag', class: "menu-left__brands--icon"
          %spanブランドから探す
      .menu-right
        - if user_signed_in?
          = link_to user_path(current_user.id), class: "menu-right__logout" do 
            = image_tag 'acount.png', alt: '', height: '40', width: '40'
            %span マイページ
        - else
          = link_to new_user_registration_path, class: "menu-right__new" do
            新規会員登録
          = link_to new_user_session_path, class: "menu-right__login" do
            ログイン