.wrapper
  = render 'shared/header'
  .main
    .contents
      .contents-head
        商品一覧
      .contents-body
        = link_to "", class: "item-box" do
          %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="213" height="213")/
          .item-box__body
            .item-box__body--name
              sample
            .item-box__body--price
              ¥ 999
        = link_to "", class: "item-box" do
          %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="213" height="213")/
          .item-box__body
            .item-box__body--name
              sample
            .item-box__body--price
              ¥ 999
        = link_to "", class: "item-box" do
          %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="213" height="213")/
          .item-box__body
            .item-box__body--name
              sample
            .item-box__body--price
              ¥ 999
        = link_to "", class: "item-box" do
          %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="213" height="213")/
          .item-box__body
            .item-box__body--name
              sample
            .item-box__body--price
              ¥ 999
        = link_to "", class: "item-box" do
          %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="213" height="213")/
          .item-box__body
            .item-box__body--name
              sample
            .item-box__body--price
              ¥ 999
  = render 'shared/footer'
  = render 'shared/sell-btn'