.wrapper
  .header
    = link_to root_path, class: "header-top__logo" do
      = image_tag 'logo.svg', alt: 'mercari', height: '36', width: '134'
  .content
    .content_title
      商品の情報を入力
    .images
      .images__title
        出品画像 
        %span.required_mark
          必須
      .images__text
        最大10枚までアップロードできます
      .images__upload-area
    .item
    .item__name
      .item__name--title
        %span.required_mark
          必須
      .item__name--form
    .item__text
      .item__text--title
        商品の説明
        %span.required_mark
          必須
      .item__text--form
    .data
      .data__title
        商品の詳細
      .data__category
        .data__category--title
          カテゴリー
          %span.required_mark
            必須
        .data__category--form-l
        .data__category--form-m
        .data__category--form-s
      .data__size
        .data__size--title
          サイズ
          %span.required_mark
            必須
        .data__size--form
      .data__brand
        .data__brand--title
          ブランド
          %span.required_mark
            任意
        .data__brand--form
      .data__state
        .data__state--title
          商品の状態
          %span.required_mark
            必須
        .data__state--form
    .shipping
      .shipping__title
        配送について
      .shipping__price
        .shipping__price--title
          配送量の負担
          %span.required_mark
            必須
        .shipping__price--form
      .shipping__means
        .shipping__means--title
          配送の方法
          %span.required_mark
            必須
        .shipping__means--form
      .shipping__area
        .shipping__area--title
          発送元の地域
          %span.required_mark
            必須
        .shipping__area--form
      .shipping__days
        .shipping__days--title
          発送までの時間
          %span.required_mark
            必須
        .shipping__days--form
    .sale
      .sale__title
        販売価格(300~9,999,999)
      .sale__price
        .sale__price--title
          価格
          %span.required_mark
            必須
        .sale__price--form
          ¥
      .sale__tax
        .sale__commission--title
          販売手数料(10%)
        .sale__commission--price
          \-
      .sale__profit
        .sale__profit--title
          販売利益
          .sale__profit--price
            \-
    .exhibit-btn
    .back-btn
      = link_to root_path do
        もどる
  .fotter
    = link_to root_path, class: "fotter__logo" do
      = image_tag 'logo-gray.svg', alt: 'mercari', height: '36', width: '134'
    .footer__text
      © 2019 Merari